services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: always
    network_mode: host
    volumes:
      - uptime-kuma-data:/app/data

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: always
    network_mode: host
    environment:
      - GENERIC_TIMEZONE=Asia/Seoul
      - TZ=Asia/Seoul
      - N8N_PORT=55678
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  uptime-kuma-data:
  n8n_data: